<key>EnterprisePoliciesEnabled</key>
	<true/>
	<key>ExtensionSettings</key>
	<dict>
		<key>zluribrowseragent@zluri.com</key>
		<dict>
			<key>installation_mode</key>
			<string>force_installed</string>
			<key>install_url</key>
			<string>https://addons.mozilla.org/firefox/downloads/file/4241546/zluri_web_extension_firefox-2.3.3.xpi</string>
		</dict>
</dict>